/* SlideShow.css */
.slide-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  margin: auto;
  overflow: hidden;
}

.slide {
  opacity: 0;
  transform: translate(0, 0);
  transition: opacity ease-in-out 1s, transform ease-in-out 1s;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide.active {
  opacity: 1;
  transform: translate(0, 0);
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@keyframes fadeOutLeftDown {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(-20%, 20%);
  }
}

@keyframes fadeInRightTop {
  from {
    opacity: 0;
    transform: translate(20%, -20%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-leaving {
  animation: fadeOutLeftDown 1s forwards;
}

.slide-entering {
  animation: fadeInRightTop 1s forwards;
}
