.newsletter {
  width: 70%;
  padding: 2rem;
  margin: 10rem auto;
  background: linear-gradient(to top, #fff, #cdcaca);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.newsletter h1 {
  color: #454545;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.newsletter p {
  color: #454545;
  font-size: 1.25rem;
}

.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 720px;
  height: 70px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  padding: 0; /* Removed padding here to align button and input perfectly */
}

.newsletter input {
  width: 65%;
  border: none;
  outline: none;
  padding: 0 15px;
  color: #616161;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  border-radius: 50px 0 0 50px;
}

.newsletter button {
  width: 35%; /* Adjusted width to fill the remaining space */
  height: 100%;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  transition: background-color 0.3s ease;
}

.newsletter button:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .newsletter h1 {
    font-size: 2rem;
  }

  .newsletter p {
    font-size: 1rem;
  }

  .newsletter div {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .newsletter input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 50px;
  }

  .newsletter button {
    width: 100%;
    height: 50px;
    border-radius: 50px;
  }
}

@media (min-width: 769px) {
  .newsletter h1 {
    font-size: 3rem;
  }

  .newsletter p {
    font-size: 1.5rem;
  }

  .newsletter div {
    flex-direction: row;
    width: 720px;
    height: 70px;
  }

  .newsletter input {
    width: 65%;
    padding: 0 15px;
    border-radius: 50px 0 0 50px;
  }

  .newsletter button {
    width: 35%;
    border-radius: 0 50px 50px 0;
  }
}
