.modal-login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-login-content {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.modal-login-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-login-form button {
  width: 100%;
  padding: 12px;
  background-color: #4a90e2; /* 기존 색상보다 세련된 파란색 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.modal-login-form button:hover {
  background-color: #357ab7; /* 버튼 호버 시 약간 더 어두운 파란색 */
}

/* Close 버튼 간소화 */
.modal-login-close {
  margin-top: 20px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}
